@{
    /* Global includes for the theme
    ***************************************************************/

    //SetMeta(name: "viewport", content: "width=1040");
}
<link href='http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

@using (Script.Head())
{            
    <!-- Put this script tag to the <head> of your page -->
    //<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>           
}

<!--[if lte IE 8]><script type="text/javascript" src="@Url.Content("~/themes/mytheme/scripts/html5shiv.js")"></script><![endif]-->
@{    
    //Script.Include("jquery.min.js").AtHead();
    Script.Require("jQuery").AtHead();
    Script.Include("jquery.dropotron.min.js").AtHead();
    Script.Include("config.js").AtHead();
    Script.Include("skel.min.js").AtHead();
    Script.Include("skel-panels.min.js").AtHead();
    Script.Include("touchTouch.jquery.js").AtHead();
    

    if (Request.Path.EndsWith("/first-gallery"))
    {
        using (Script.Head())
        {
            Script.Include("first-gallery.js").AtHead();
        }
    }
}

<noscript>
    <link rel="stylesheet" href="@Url.Content("~/themes/mytheme/css/skel-noscript.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/mytheme/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/themes/mytheme/css/style-desktop.css")" />
</noscript>

@{
    /* Some useful shortcuts or settings
        ***************************************************************/


    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Inserting some ad hoc shapes
    ***************************************************************/
    
    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page    
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links
}

@if (Model.Header != null)
{    
    <!-- Header Wrapper -->
    <div id="header-wrapper">
        <!-- Header -->
        <div id="header" class="container">
            @Zone(Model.Header)

            @if (Model.Navigation != null)
            {
                @Zone(Model.Navigation)                
            }
        </div>
    </div>
}

@if (Model.Featured != null)
{
    <div id="layout-featured" class="group">
        @Zone(Model.Featured)
    </div>
}
@if (Model.BeforeMain != null)
{
    <div id="layout-before-main" class="group">
        @Zone(Model.BeforeMain)
    </div>
}

<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div id="content" class="8u">
                @if (Model.Messages != null)
                {
                    <div id="messages">
                        @Zone(Model.Messages)
                    </div>
                }
                @if (Model.BeforeContent != null)
                {
                    <div id="before-content">
                        @Zone(Model.BeforeContent)
                    </div>
                }
                @if (Model.Content != null)
                {                
                    @Zone(Model.Content)                
                }
                @if (Model.AfterContent != null)
                {
                    <div id="after-content">
                        @Zone(Model.AfterContent)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.AfterMain != null)
{
    <div id="layout-after-main" class="group">
        @Zone(Model.AfterMain)
    </div>
}

<div id="footer-wrapper">
    @if (Model.Footer != null)
    {
        <div id="footer" class="container">
            @Zone(Model.Footer)
        </div>
    
        <div id="copyright" class="container">
            <ul class="links">
                <li>© Untitled. All rights reserved</li>
                <li>Demo images: <a href="http://regularjane.deviantart.com/">regularjane</a></li>
                <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
            </ul>
        </div>
    }
</div>
