@using Orchard.Comments;
@using Orchard.Comments.Models
@using Orchard.Comments.Settings
@using Orchard.Utility.Extensions;

@{
    CommentsPart commentsPart = Model.ContentPart;
    var settings = commentsPart.TypePartDefinition.Settings.GetModel<CommentsPartSettings>();
}

@if (!Model.ContentPart.CommentsActive)
{
    if (Model.ContentPart.Comments.Count > 0)
    {
    <div id="comments">
        <p class="comment-disabled">@T("Comments have been disabled for this content.")</p>
    </div>
    }
}
else if (settings.MustBeAuthenticated && WorkContext.CurrentUser == null)
{
    <div id="comments">
        <p class="comment-disabled">@T("You must be authenticated in order to add a comment.")</p>
    </div>
}
else if (WorkContext.CurrentUser == null && !AuthorizedFor(Permissions.AddComment))
{
    <h2 id="add-comment">@T("Add a Comment")</h2>
    <p class="info message">@T("You must {0} to comment.", Html.ActionLink(T("log on").ToString(), "LogOn",
                            new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = string.Format("{0}#addacomment", Context.Request.RawUrl) }))
    </p>
}
else
{    
    @Html.ValidationSummary() 
    <span id="comment-form-beacon"></span>       
    
    using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Comment", new { Area = "Orchard.Comments", ReturnUrl = Context.Request.ToUrlString() }), FormMethod.Post, new { @class = "comment-form" }))
    {
@*<script type="text/javascript">
            VK.init({ apiId: 4119259 });
        </script>
    
        <!-- Put this div tag to the place, where Auth block will be -->
        <div id="vk_auth"></div>
        <script type="text/javascript">
            VK.Widgets.Auth("vk_auth", {});
        </script>*@
        
    <div class="6u">
        <section>
            <p>Войти с помощью:</p>
            <div class="row">                
                <ul class="icons 6u">
                    <li class="fa fa-vk"><a href="https://oauth.vk.com/authorize?client_id=4119259&display=popup&redirect_uri=@Context.Request.ToRootUrlString()/QuickLogOn/VKAuth&response_type=token&scope=3" onclick="return !window.open(this.href, 'Вконтакте', 'width=500,height=500')">Вконтакте</a></li>                                        
                    <li class="fa fa-facebook"><a href="#">facebook</a></li>
                    <li class="fa fa-google-plus"><a href="#">google</a></li>
                </ul>
            </div>
        </section>
    </div>
    
        if (TempData.ContainsKey("Comments.InvalidCommentEditorShape"))
        {
    @Display(TempData["Comments.InvalidCommentEditorShape"]);
        }
        else
        {
    @Display(Model.EditorShape)
        }    
                       
    <div class="row half">
        <div class="12u">
            <a href="javascript:void(0)" class="primaryAction button button-icon fa fa-envelope">@T("Submit Comment")</a>
        </div>
    </div>    
    }
}