@using Alexan.PhotoAlbums.Extensions;
@using Alexan.PhotoAlbums.Models;

@{
    Html.AddTitleParts(T("Manage Album").ToString());

    Script.Require("jQueryContextmenu");
    Style.Require("PhotoAlbumsAdmin"); 
}

<div class="manage">    
    <a href="@Url.AlbumEdit((PhotoAlbumPart)Model.ContentItem.Get(typeof(PhotoAlbumPart)))" 
        class="add button">
        @T("Edit album properties")
    </a>
    <a href="@Url.PhotoAdd((PhotoAlbumPart)Model.ContentItem.Get(typeof(PhotoAlbumPart)))" 
        class="add button primaryAction">
        @T("Add Photos")
    </a>
    <a href="@Url.AlbumSummary()" 
        class="add button">
        @T("Back to albums")
    </a>
</div>
@Display(Model)

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $('.remove-photo').contextmenu('.remove-photo-panel');
        });
    </script>
}
