@model Alexan.PhotoAlbums.Models.PhotoAlbumPart
@using Alexan.PhotoAlbums.Extensions
@using System.Web.Mvc

<h1>@Html.TitleForPage(string.Format("{0} {1}", T("Add photos for"), Model.Name).ToString())</h1>

@{
    Style.Require("PhotoAlbumsAdmin");
    Style.Require("jQueryFileUpload");

    Script.Require("AdminFileupload");    
}

<div class="manage">    
    <a href="@Url.AlbumItem(Model)" 
        class="add button">
        @T("Back to photos")
    </a>
</div>

@using (Html.BeginFormAntiForgeryPost(Url.PhotoUpload(Model), FormMethod.Post, new { @id = "file_upload", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <input type="file" name="file" multiple/>
    <div>@T("Select files")</div>    
}
@using (Html.BeginFormAntiForgeryPost(Url.PhotoAdd(Model), FormMethod.Post, new { @id = "file_upload", enctype = "multipart/form-data" }))
{ 
    <table id="files" class="items"></table>
    <fieldset class="save-button" style="display: none">
        <button value="Save" name="action" type="submit" class="primaryAction">
            @T("Save")</button>
        <button value="Cancel" name="action" type="submit" >
            @T("Cancel")</button>
    </fieldset>
}

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function() {
            var options = {
                    
                };
                var strings = {
                    cancel: '@T("Cancel")',
                    uploading: '@T("Uploading")',
                    name: '@T("Name")',
                    error: '@T("Upload image failed.")',
                    errorNotImage: '@T("Uploaded file is not image.")',
                    errorEmpty: '@T("Uploaded file is empty.")',
                    errorLarge: '@T("Uploaded file is too large. Max file size:")',
                    mb: '@T("Mb")'
                };
                AdminUploadInitializer(options, strings);
            });
    </script>
}